@(message: String)(implicit req: RequestHeader)

@main("Welcome to Play") {

    @message
<div class="container">
<div class="row welcome"  id="content">
    <center>
    <div>
        <h1>Welcome. Please Sign in or sign up. </h1>
    </div>


    <br>

<div class="row welcome" id="content">

<input class="btn btn-success col-md-3 col-md-offset-4" type="button" name="signin" id="signin-btn" value="Sign In">
<input class="btn btn-success col-md-3 " type="button" name="signup" id="signup-btn" value="Sign Up">
<div id="content"></div>

</div>
    </center>
    </div>
</div>


}
